{% block title %}
    <p>Instrucciones</p>
{% endblock %}

{% block content %}

<p></p>

<p><b>¡Bienvenido! &#x1F604 </b> Este es un experimento para evaluar cómo la gente toma decisiones económicas <span style="color: green;"><b>$</b></span>.</p>

<p> Durante el experimento, seguirás instrucciones que te ayudarán a tomar decisiones y ganar una suma de dinero. Tus ganancias se calcularán en <span style="color: red;"><b>monedas experimentales</b></span> y se convertirán a soles al final del experimento para ser pagadas a través de Yape, Plin o Transferencia.
    Cada moneda experimental equivale a 0.05 sol, y además, recibirás 5 soles por tu participación.</p>

<p>Tus respuestas serán <b>confidenciales &#9940 </b>, y podrás elegir la forma de recibir tus pagos al final. </p>

<p> Es crucial que no te comuniques con otros participantes en la sala durante el experimento&#x2757. Puedes hacer preguntas en cualquier momento y dirigirte a cualquier miembro del equipo si necesitas ayuda. </p>

<p>Este experimento consta de <b>diez rondas</b> independientes. Las decisiones tomadas en una ronda no afectarán tus ganancias en las rondas posteriores, y tu dotación inicial se reiniciará en cada ronda.&#x1F4B0</p>

<p> Al final del experimento, <b>una ronda se seleccionará al azar para el pago</b>.</p>

<p> Para cada ronda se te asignará aleatoriamente uno de los cuatro roles: ciudadano 1, oficial, ciudadano 2 o monitor. El ordenador formará grupos de cuatro participantes con roles diferentes. La composición de los grupos cambiará aleatoriamente en cada ronda, al igual que los roles. Por ello te pedimos que leas muy bien las indicaciones por rol.</p>

{{ next_button }}

{% endblock %}
