{% block title %}
    <p>Instrucciones</p>
{% endblock %}

{% block content %}

    <p><b>¡Bienvenido! &#x1F604 </b> Este es un experimento para evaluar cómo la gente toma decisiones económicas <span style="color: green;"><b>$</b></span>.</p>

<p> Si prestas atención, las instrucciones te ayudarán a tomar estas decisiones y a ganar una suma de dinero.
    Esta suma depende tanto de tus decisiones durante el experimento, como de las decisiones de los demás participantes.

    <p>Las ganancias se calcularán en  <span style="color: red;"><b>monedas experimentales</b></span>, se convertirán a soles al final del experimento y se pagarán al final de la sesión de hoy (Yape, Plin o Transferencia).
        <b>Por cada 20 monedas experimentales, recibirás 1 sol. Además, recibirás 5 soles por tu participación.</b></p>

    <p>Tus respuestas serán <b>confidenciales &#9940 </b> y los pagos finales se harán por la opción que prefieras. No estás obligado a comunicar tus ganancias a nadie.
    Es importante que no te comuniques de ninguna manera con otras personas en la sala hasta el final del experimento.
    El uso de teléfonos móviles está prohibido&#x2757. Puede hacer preguntas en cualquier momento. Si tiene alguna pregunta puede comentarle a cualquier miembro del equipo.</p>

<p>Este experimento consta de <b>diez rondas</b>. Cada ronda es completamente independiente de las demás: las decisiones tomadas en una ronda no influirán ni en su ganancia ni en los procedimientos de las rondas siguientes.
    Al final del experimento, <b>el ordenador elegirá al azar una ronda para su pago.&#x1F4B0</b></p>

<p>Al comienzo del experimento de hoy, se le asignará aleatoriamente uno de los cuatro papeles siguientes: ciudadano 1, oficial, ciudadano 2, monitor. Al principio de cada ronda, el ordenador formará aleatoriamente grupos de cuatro participantes, cada uno con un rol diferente.
    La composición de los grupos cambiará aleatoriamente de una ronda a otra. Nunca conocerás la identidad de los otros miembros del grupo, ni los otros miembros del grupo conocerán la tuya.</p>

{{ next_button }}

{% endblock %}
